@font-face {
  font-family: fontHalloween;
  src: url(../font/Creepster-Regular.ttf) format("truetype");
}
@keyframes flyCard {
  0% {
    transform: none;
  }
  100% {
    transform: scale(0.6) translate(-50%, -30%) rotate(-10deg);
  }
}
.flyCard {
  transition: 0.3s;
}

@keyframes buttonFadeUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.buttonFadeUp {
  animation: buttonFadeUp 2s ease-in-out 1s;
}

@keyframes itemGoUp {
  0% {
    transform: translate(0, -10%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.itemGoUp {
  animation: itemGoUp 1s linear 1s;
}

.hidden {
  transition: 0.3;
  visibility: hidden;
}

.halloween-card {
  background-color: #fbc24a;
  width: 100vw;
  height: 100vh;
}
.halloween-card__items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  position: relative;
  z-index: 2;
}
@media (min-width: 1024px) {
  .halloween-card__items {
    padding-top: 10vh;
  }
}
.halloween-card__image {
  width: 300px;
  height: 450px;
  z-index: 2;
}
@media (min-width: 766px) {
  .halloween-card__image {
    width: 400px;
    height: 600px;
    visibility: visible;
  }
}
@media (min-width: 1024px) {
  .halloween-card__image {
    width: 500px;
    height: 700px;
    visibility: visible;
  }
}
.halloween-card__button {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: orangered;
  transition: 0.3s;
  position: relative;
  bottom: 5%;
  left: calc(50% - 65px);
  padding: 10px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 766px) {
  .halloween-card__button {
    width: 160px;
    height: 160px;
    left: calc(50% - 80px);
  }
}
@media (min-width: 1024px) {
  .halloween-card__button {
    width: 180px;
    height: 180px;
    left: calc(50% - 90px);
  }
}
.halloween-card__button:hover {
  transform: scale(1.1);
}
.halloween-card__title-button {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}
@media (min-width: 766px) {
  .halloween-card__title-button {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .halloween-card__title-button {
    font-size: 1.5rem;
  }
}

.halloween-card__message {
  width: 80%;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 20vh;
  left: 10%;
  outline: 15px solid rgb(255, 255, 255);
  border: 2px solid gray;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  visibility: hidden;
}
@media (min-width: 766px) {
  .halloween-card__message {
    padding-left: 20vw;
  }
}
@media (min-width: 1024px) {
  .halloween-card__message {
    padding-left: 15vw;
    width: 60%;
    left: 15%;
  }
}
.halloween-card__message-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}
@media (min-width: 1024px) {
  .halloween-card__message-wrap {
    gap: 3vw;
  }
}
.halloween-card__message-intro {
  color: rgb(218, 28, 28);
  font-size: 1.5rem;
  font-family: fontHalloween;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.halloween-card__message-title {
  color: #223328;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.halloween-card__message-content {
  color: #223328;
  font-size: 1.5rem;
}
.halloween-card__message-from {
  color: #223328;
  font-size: 1.7rem;
  color: #be1725;
}
.halloween-card__message-link {
  display: block;
}
.halloween-card__message-button {
  background-color: rgb(218, 28, 28);
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
}
@media (min-width: 640px) {
  .halloween-card__message-button {
    width: 80%;
  }
}
@media (min-width: 766px) {
  .halloween-card__message-button {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .halloween-card__message-button {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .halloween-card__message-button {
    width: 30%;
  }
}
.halloween-card__message-button:hover {
  border: none;
  transform: scale(1.1);
}

.show-message {
  visibility: visible;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: fontHalloween;
  src: url(../font/Creepster-Regular.ttf) format("truetype");
}
a:focus {
  border: none;
  outline: none;
  background-color: none;
}

/*HEADER*/
.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  font-size: 1rem;
  color: white;
  position: fixed;
  top: 20px;
  margin: 0 auto;
  text-align: center;
  z-index: 999;
}

.wrap__icon {
  padding-top: 5px;
  transition: 0.3s;
  margin-right: 50px;
  position: absolute;
  left: 20px;
}

.wrap__icon-music {
  font-size: 1.5rem;
  cursor: pointer;
}

.icon-music {
  color: rgb(255, 255, 255);
}

.wrap__icon-mute-music {
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.active-mute-music {
  display: block;
}

.icon-mute-music {
  position: absolute;
  left: -10px;
  top: -6px;
  color: rgb(218, 28, 28);
}

.header__title {
  font-family: fontHalloween;
  letter-spacing: 5px;
}

.header__link-title {
  text-decoration: none;
  color: rgb(218, 28, 28);
}

.audio {
  display: none;
  visibility: hidden;
}

/*MAIN*/
.home {
  background-color: #fbc24a;
  height: 100vh;
  width: 100vw;
}
.home__title {
  text-align: center;
  color: white;
  padding-top: 100px;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: fontHalloween;
  margin: 0 10px;
}
@media (min-width: 640px) {
  .home__title {
    font-size: 5rem;
  }
}
@media (min-width: 766px) {
  .home__title {
    font-size: 5rem;
  }
}
.home__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin: 20px auto;
  z-index: 999;
}
@media (min-width: 766px) {
  .home__link {
    margin-top: 50px;
  }
}
.home__button {
  width: 80%;
  background-color: rgb(218, 28, 28);
  color: white;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 25px;
  font-size: 1.5rem;
  font-family: fontHalloween;
}
@media (min-width: 640px) {
  .home__button {
    font-size: 2rem;
  }
}
@media (min-width: 766px) {
  .home__button {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .home__button {
    width: 50vh;
  }
}
@media (min-width: 1280px) {
  .home__button {
    width: 60vh;
  }
}
.home__link:hover .home__button {
  border: none;
  transform: scale(1.1);
  cursor: pointer;
}
.home__background-banner {
  width: 80%;
  position: absolute;
  bottom: 10px;
  right: 50px;
}
@media (min-width: 640px) {
  .home__background-banner {
    width: 70%;
    right: 20%;
  }
}
@media (min-width: 766px) {
  .home__background-banner {
    width: 60%;
    right: 20%;
  }
}
@media (min-width: 1024px) {
  .home__background-banner {
    width: 50%;
    right: 30vw;
  }
}
@media (min-width: 1280px) {
  .home__background-banner {
    width: 60vh;
    right: 35vw;
  }
}

.choose-card {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #fbc24a;
  display: grid;
  grid-template-rows: repeat(5, 200px);
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-flow: column;
  row-gap: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  overflow: hidden;
  cursor: grab;
  transition: 0.3s;
}
@media (min-width: 766px) {
  .choose-card {
    grid-template-rows: repeat(5, 300px);
    grid-template-columns: repeat(auto-fill, 225px);
    row-gap: 100px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
@media (min-width: 1280px) {
  .choose-card {
    grid-template-rows: repeat(5, 450px);
    grid-template-columns: repeat(auto-fill, 350px);
    row-gap: 100px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}

.grabbing {
  cursor: grabbing;
}

.image-card {
  width: 150px;
  height: 200px;
}
@media (min-width: 766px) {
  .image-card {
    width: 225px;
    height: 300px;
  }
}
@media (min-width: 1280px) {
  .image-card {
    width: 350px;
    height: 450px;
  }
}

.item-card:nth-child(2n+1) {
  margin-top: 20px;
}
@media (min-width: 1280px) {
  .item-card:nth-child(2n+1) {
    margin-top: 50px;
  }
}

.item-card:nth-child(3n+4) {
  margin-top: 20px;
}
@media (min-width: 1280px) {
  .item-card:nth-child(3n+4) {
    margin-top: 50px;
  }
}

.card-selected {
  width: 100vw;
  height: 100vh;
  background-color: #fbc24a;
}
.card-selected__items {
  position: relative;
}
.card-selected__image {
  width: 250px;
  height: 400px;
  position: relative;
  z-index: 2;
}
@media (min-width: 766px) {
  .card-selected__image {
    width: 450px;
    height: 650px;
  }
}
@media (min-width: 1024px) {
  .card-selected__image {
    width: 500px;
    height: 700px;
  }
}

.next-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
  position: relative;
  top: 20%;
}
@media (min-width: 640px) {
  .next-back {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .next-back {
    top: 15%;
    padding: 0 50px;
  }
}
.next-back__button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.6rem;
}
@media (min-width: 766px) {
  .next-back__button {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .next-back__button {
    font-size: 2.5rem;
  }
}

.wrap__next-button {
  cursor: pointer;
}

.wrap__back-button {
  cursor: pointer;
}

.next-back::after {
  content: "";
  background-color: white;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50.5%;
  outline: 1px solid rgba(235, 235, 235, 0.5);
}

.number-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 2rem;
}
@media (min-width: 766px) {
  .number-card {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .number-card {
    font-size: 3rem;
  }
}
.number-card__first {
  border-bottom: 3px solid white;
}
.exit-to-back {
  position: relative;
}

.wrap__exit-button {
  font-size: 2rem;
  color: white;
  z-index: 999;
  position: fixed;
  top: 20px;
  right: 20px;
}

.message-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: orangered;
  position: relative;
  left: 40%;
  top: 10%;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 766px) {
  .message-button {
    width: 180px;
    height: 180px;
    top: -15%;
    left: 65%;
  }
}
@media (min-width: 1024px) {
  .message-button {
    width: 200px;
    height: 200px;
    top: -25%;
    left: 60%;
  }
}
.message-button:hover {
  transform: scale(1.1);
}
.message-button__title {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}
@media (min-width: 766px) {
  .message-button__title {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .message-button__title {
    font-size: 1.5rem;
  }
}

.message-card {
  width: 100vw;
  height: 100vh;
  background-color: #fbc24a;
  display: flex;
}
.message-card__form {
  margin: auto;
  width: 80%;
  height: 60%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (min-width: 766px) {
  .message-card__form {
    width: 70%;
    gap: 35px;
  }
}
@media (min-width: 1024px) {
  .message-card__form {
    width: 50%;
    gap: 50px;
  }
}
@media (min-width: 1280px) {
  .message-card__form {
    width: 40%;
    gap: 50px;
  }
}
.message-card__label {
  font-size: 1.5rem;
  color: #223328;
  font-weight: 600;
  text-transform: uppercase;
}
.message-card__input {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 1px solid rgb(48, 48, 48);
  color: #223328;
  font-size: 1.2rem;
}
.message-card__input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(48, 48, 48);
}
.message-card__button {
  text-align: center;
}
.message-card__link {
  text-decoration: none;
}
.message-card__button--preview, .message-card__button--link-copied, .message-card__button--copy-link {
  padding: 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  font-weight: 600;
  white-space: nowrap;
  color: white;
  border: none;
  background-color: #223328;
}
.message-card__button--copy-link {
  background-color: rgb(218, 28, 28);
  margin-left: 50px;
}
.message-card__button--link-copied {
  margin-left: 50px;
  display: none;
}
.message-card__label--last {
  margin-bottom: 100px;
}
@media (min-width: 766px) {
  .message-card__label--last {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .message-card__label--last {
    margin-bottom: 25px;
  }
}

.hiddenButton {
  display: none;
}

.showButton {
  display: inline;
}

.share-card {
  padding: 0;
}
.share-card__title {
  color: #223328;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.share-card__wrap-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 100%;
}
.share-card__icon {
  align-self: baseline;
  font-size: 1.8rem;
  color: rgb(218, 28, 28);
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.loading--complete {
  visibility: hidden;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
}

.spinner-text {
  font-size: 3rem;
  animation: textLoading 3s ease infinite;
}

.spinner-sector {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1rem solid transparent;
  position: absolute;
  animation: spinner var(--duration) ease infinite;
  mix-blend-mode: normal;
}

.spinner-sector--red {
  border-top-color: lightcoral;
  --duration: 1s;
}

.spinner-sector--blue {
  border-left-color: lightblue;
  --duration: 1.5s;
}

.spinner-sector--green {
  border-right-color: lightgreen;
  --duration: 2s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes textLoading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.1;
  }
}/*# sourceMappingURL=index.css.map */